
<%# エラーメッセージ %>

<% if @question.errors.any? %> 
  <div id="error_explanation" class="alert alert-danger">
    <ul>
    	The form contains <%= pluralize(@question.errors.count, "error") %>.
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>