<% provide(:title, "Top") %>
    <h1>
      単語帳
    </h1>
    <%= link_to "ログイン", login_path, class: 'btn btn-default' %>
    <h2>
      会員登録はこちら
    </h2>
    <%= link_to "新規アカウント作成", sign_path, class: 'btn btn-default' %>